<% title 'Upload' %>

<p><em>* Required fields</em></p>

<%= form_with(model: @deposit,
              url: uploads_path,
              method: :create,
              local: true,
              class: current_user.signed_latest_agreement? ? nil : 'disable',
              id: :upload) do |form| %>

  <div class="notice">
    <h3>Participation Agreement</h3>
    <p>
      <%= render 'agreement' %>
    </p>
  </div>

  <div class="form-group">
    <%= form.label(:title, 'Title*', class: 'control-label') %>
    <%= form.text_field(:title, placeholder: 'Title') %>
  </div>

  <div class="form-group">
    <%= form.label(:abstract, 'Abstract*', class: 'control-label') %>
    <%= form.text_area(:abstract, placeholder: 'What is this work about? Provide a brief summary to help readers understand its argument.') %>
  </div>

  <div class="form-group">
    <%= form.label(:year, 'Year Created*', class: 'control-label') %>
    <%= form.number_field(:year, placeholder: 'YYYY') %>
  </div>

  <div class="form-group">
    <%= form.label(:doi, 'DOI/URL', class: 'control-label') %>
    <%= form.text_field(:doi, placeholder: 'DOI or URL of work online (if applicable)') %>
  </div>

  <div class="form-group">
    <h3>Creator(s)*</h3>
    <div class="creators">

      <%= '<div class="field_with_errors">'.html_safe if @deposit.errors.include?(:creators) %>

        <div class="creator-header">
          <label id="deposit_creators_first_name">First Name*</label>
          <label id="deposit_creators_last_name">Last Name*</label>
          <label id="deposit_creators_uni">UNI</label>
          <span class="placeholder"></span>
        </div>

        <div id='creator-list'>
          <% (@deposit.creators || [{}]).each do |c| %>
            <div>
              <input type="text" name="deposit[creators][][first_name]" aria-labelledby="deposit_creators_first_name" class="deposit_creators_first_name", value="<%= c['first_name'] %>">
              <input type="text" name="deposit[creators][][last_name]" aria-labelledby="deposit_creators_last_name" class="deposit_creators_last_name", value="<%= c['last_name'] %>">
              <input type="text" name="deposit[creators][][uni]" aria-labelledby="deposit_creators_uni" class="deposit_creators_uni", value="<%= c['uni'] %>" <%= 'readonly="readonly"' if c['uni'] == current_user.uid %>>
              <span class="sort-icon"><i class="fas fa-arrows-alt" title="Sort creators" aria-hidden="true"></i></span><span class="visually-hidden">Sort creators</span>
            </div>
          <% end %>
        </div>

      <%= '</div>'.html_safe if @deposit.errors.include?(:creators) %>

      <%= button_tag  "<i class=\"fas fa-plus\"></i> Add another creator".html_safe,
                      type: 'button',
                      id: 'add-address',
                      class: 'btn btn-default btn-add',
                      data: { creator_list_id: 'creator-list'} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label(:student, 'Student Status', class: 'control-label') %>
    <p class="note">Are you a current student at Columbia or one of its affiliate institutions?
    </p>
    <%= form.select(:student, Deposit::STUDENT_OPTIONS) %>
   </div>

<p style="color: red; font-style: italic">I would like to toggle from here through 'thesis embargo' if someone says 'yes' for the box above.</p>

<div id="student_info">
  <div>
    <div class="form-group">
      <%= form.label(:degreeprogram, 'Degree Program (if student)', class: 'control-label') %>
      <%= form.text_field(:degreeprogram) %>
    </div>

    <div class="form-group">
      <%= form.label(:academicadvisor, 'Academic Advisor (if student)', class: 'control-label') %>
      <%= form.text_field(:academicadvisor) %>
    </div>

    <div class="form-group radio">
      <h3>Thesis or dissertation?</h3>
        <p class="note">Doctoral dissertations completed at the Graduate School of Arts and Sciences, the Mailman School of Public Health, and Teachers College are automatically included in Academic Commons as part of the deposit process. Some Master's and undergraduate programs have an established workflow for submitting theses to Academic Commons. Contact your degree program or <%= mail_to "ac@columbia.edu" %> for more information.</p>
        <ul>
           <li>
                <%= form.radio_button :thesis, "doctoral" %>
                <%= form.label :thesis_doctoral, "This is a doctoral dissertation" %>
            </li>
            <li>
                <%= form.radio_button :thesis, "masters" %>
                <%= form.label :thesis_masters, "This is a master's thesis" %>
            </li>
            <li>
                <%= form.radio_button :thesis, "undergrad" %>
                <%= form.label :thesis_undergrad, 'This is an undergraduate thesis' %>
            </li>
        </ul>
    </div>
  </div>

  <div class="form-group">
    <%= form.label(:degreeearned, 'Degree Earned (if thesis)', class: 'control-label') %>
    <%= form.text_field(:degreeearned, placeholder: 'e.g.: MA, MSc, MBA') %>
  </div>

  <div class="form-group radio">
    <h3>Thesis Embargo</h3>
        <p class="note">Students may request an optional embargo for one or two years. Embargos are approved by your department. If you are not certain about what embargo options are available to you, please contact <%= mail_to "ac@columbia.edu" %> and staff will reach out to your department.</p>
      <ul>
          <li>
              <%= form.radio_button(:embargo, "1year") %>
              <%= form.label(:embargo_1year, "1 year") %>
          </li>
          <li>
              <%= form.radio_button(:embargo, "2years") %>
              <%= form.label(:embargo_2years, "2 years") %>
          </li>
      </ul>
  </div>
</div>

<p style="color: red; font-style: italic">Here is where the toggle would end.</p>

  <div class="form-group radio">
    <h3>Have you previously published this work?</h3>
      <p class="note">If you are uploading a previously published work, the publication agreement that you signed may affect what version you can upload to Academic Commons. Check the terms of your agreement. You can also view many journal and publisher open access policies using the <%= link_to "Sherpa Romeo database", "https://v2.sherpa.ac.uk/romeo/", target: "_blank" %>.</p>
      <ul>
          <li>
              <%= form.radio_button :previouspub, "yes" %>
              <%= form.label :previouspub_yes, 'Yes' %>
          </li>
          <li>
              <%= form.radio_button :previouspub, "no" %>
              <%= form.label :previouspub_no, 'No' %> 
          </li>
      </ul>
  </div>

  <div class="form-group radio">
    <h3>If you are uploading an article, please indicate the version of the article you are uploading.</h3>
      <p class="note">Learn more about different versions of articles <%= link_to "here", "https://libfaq.nus.edu.sg/faq/257412", target: "_blank" %>.</p>
      <ul>
          <li>
              <%= form.radio_button :version, "preprint" %>
              <%= form.label :version_preprint, 'Author’s original/Preprint' %>         
          </li>
          <li>
              <%= form.radio_button :version, "accepted" %>
              <%= form.label :version_accepted, 'Accepted manuscript/Postprint' %>         
          </li>          
          <li>
              <%= form.radio_button :version, "final" %>
              <%= form.label :version_final, 'Final published version' %>         
          </li>
      </ul>
  </div>

  <div class="form-group">
    <%= form.label(:keywords, 'Keywords', class: 'control-label') %>
    <%= form.text_area(:keywords, placeholder: 'Suggested keywords for this work. Note that Academic Commons uses the Library of Congress FAST vocabulary and staff will do their best to match your suggested terms to the FAST vocabulary.') %>
  </div>

  <div class="form-group">
    <%= form.label(:notes, 'Notes', class: 'control-label') %>
    <%= form.text_area(:notes, placeholder: 'Additional information you want included in the record and/or notes for repository staff') %>
  </div>

  <div class="form-group">
    <%= form.label(:rights, 'Copyright Status*', class: 'control-label') %>
    <p class="note">
      Please indicate the copyright status of your work. Most works fall within copyright, although you may choose to openly license your work with one of the options below. For more information about copyright protection, please consult
      <%= link_to "Columbia University Library’s Copyright Advisory Service’s Copyright Quick Guide", 'https://copyright.columbia.edu/basics/copyright-quick-guide.html' %>.
    </p>
    <%= form.select(:rights, Deposit::RIGHTS_OPTIONS) %>
   </div>    

 <div class="form-group">
    <%= form.label(:license, 'License', class: 'control-label') %>
    <p class="note">
      You may wish to consider adding a license that will govern how others re-use your work. You are not obligated to do so, but a license provides others with greater certainty about what they can or cannot do with your research output.<br /><br />
      If you decide not to set specific licensing terms for re-use, the default option is "All Rights Reserved.” This means that domestic and international copyright laws alone will determine the ways in which your work can be used and distributed. Generally, copyright laws prevent further reuse and distribution of a work without the explicit permission of the copyright holder.<br /><br />
      Learn more about the Creative Commons <%= link_to "CC BY licenses", "https://creativecommons.org/licenses/", target: "_blank" %> and the <%= link_to "CC0 license", "https://creativecommons.org/share-your-work/public-domain/cc0/", target: "_blank" %>. Note that while the CC0 license may be appropriate for data sets, by selecting this license you waive, to the extent possible, any copyrights you hold in the work. Creative Commons recommends the CC BY license, which it considers its most accommodating license, for maximum dissemination and use of licensed materials.    </p>
    <%= form.select(:license, Deposit::LICENSE_OPTIONS) %>
  </div>

  <div id="use-by-others" class="item"></div>

  <div class="form-group" id="file-upload">
    <div><%= form.label(:files, 'Upload File(s)*', class: 'control-label') %></div>
      <p class="alert alert-info">This form accepts files up to 100MB in size. If you have larger files, email <%= mail_to "ac@columbia.edu" %>.</p>

    <div><%= form.file_field :files, multiple: true, direct_upload: true %></div>

    <div action='/' id="deposit-drop" class="dropzone"></div>
  </div>

  <div id='file-preview'>
    <div id="preview-template">
      <div>
        <span class="name" data-dz-name></span>
        (<span class="size" data-dz-size></span>)
        <span class="dz-waiting-mark"><i class="fas fa-sync-alt" aria-hidden></i></span>
        <span class="dz-success-mark"><i class="fas fa-check-circle" aria-hidden></i></span>
        <span class="dz-error-mark"><i class="fas fa-exclamation-circle" aria-hidden></i></span>
        <strong class="error text-danger" data-dz-errormessage></strong>
      </div>
    </div>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
