<% title 'Upload' %>

<p><em>* Required fields</em></p>

<%= form_with(model: @deposit,
              url: uploads_path,
              method: :create,
              local: true,
              class: current_user.signed_latest_agreement? ? nil : 'disable',
              id: :upload) do |form| %>

  <div class="notice">
    <h3>Participation Agreement</h3>
    <p>
      <%= render 'agreement' %>
    </p>
  </div>

  <div class="form-group">
    <%= form.label(:title, 'Title*', class: 'control-label') %>
    <%= form.text_field(:title, placeholder: 'Title') %>
  </div>

  <div class="form-group">
    <%= form.label(:abstract, 'Abstract*', class: 'control-label') %>
    <%= form.text_area(:abstract, placeholder: 'What is this work about? Provide a brief summary to help readers understand its argument.') %>
  </div>

  <div class="form-group">
    <%= form.label(:year, 'Year Created*', class: 'control-label') %>
    <%= form.number_field(:year, placeholder: 'YYYY') %>
  </div>

  <div class="form-group">
    <%= form.label(:doi, 'DOI/URL', class: 'control-label') %>
    <%= form.text_field(:doi, placeholder: 'DOI or URL of work online (if applicable)') %>
  </div>

  <div class="form-group">
    <%= form.label(:school, 'School', class: 'control-label') %>
    <%= form.text_field(:school) %>
  </div>

  <div class="form-group">
    <%= form.label(:department, 'Department', class: 'control-label') %>
    <%= form.text_field(:department) %>
  </div>

  <div class="form-group checkbox">
    <h3>Current student?</h3>
    <%= form.check_box :student %>
    <%= form.label :student, 'Check here if you are a current student at Columbia or one of its affiliate institutions.' %>
  </div>

  <div class="form-group">
    <%= form.label(:degreeprogram, 'Degree Program (if student)', class: 'control-label') %>
    <%= form.text_field(:degreeprogram) %>
  </div>

  <div class="form-group checkbox">
    <h3>Thesis or dissertation?</h3>
      <p class="note">With the exception of dissertations completed for Union Theological Seminary (UTS), which does not require deposit in Academic Commons, all doctoral dissertations published after 2011 are automatically deposited in Academic Commons by the degree program. Masters theses are only automatically deposited in Academic Commons if a school or program has an established workflow for doing so. Contact ac@columbia.edu for more information.</p>
    <%= form.check_box :thesis %>
    <%= form.label :thesis, 'Check here if this is a master’s thesis.' %>
  </div>

  <div class="form-group">
    <%= form.label(:degreeearned, 'Degree Earned (if thesis)', class: 'control-label') %>
    <%= form.text_field(:degreeearned, placeholder: 'e.g.: MA, MSc, MBA') %>
  </div>

  <div class="form-group">
    <h3>Creator(s) (including advisors)*</h3>
    <div class="creators">

      <%= '<div class="field_with_errors">'.html_safe if @deposit.errors.include?(:creators) %>

        <div class="creator-header">
          <label id="deposit_creators_first_name">First Name*</label>
          <label id="deposit_creators_last_name">Last Name*</label>
          <label id="deposit_creators_uni">UNI</label>
          <span class="placeholder"></span>
        </div>

        <div id='creator-list'>
          <% (@deposit.creators || [{}]).each do |c| %>
            <div>
              <input type="text" name="deposit[creators][][first_name]" aria-labelledby="deposit_creators_first_name" class="deposit_creators_first_name", value="<%= c['first_name'] %>">
              <input type="text" name="deposit[creators][][last_name]" aria-labelledby="deposit_creators_last_name" class="deposit_creators_last_name", value="<%= c['last_name'] %>">
              <input type="text" name="deposit[creators][][uni]" aria-labelledby="deposit_creators_uni" class="deposit_creators_uni", value="<%= c['uni'] %>" <%= 'readonly="readonly"' if c['uni'] == current_user.uid %>>
              <span class="sort-icon"><i class="fas fa-arrows-alt" title="Sort creators" aria-hidden="true"></i></span><span class="visually-hidden">Sort creators</span>
            </div>
          <% end %>
        </div>

      <%= '</div>'.html_safe if @deposit.errors.include?(:creators) %>

      <%= button_tag  "<i class=\"fas fa-plus\"></i> Add another creator".html_safe,
                      type: 'button',
                      id: 'add-address',
                      class: 'btn btn-default btn-add',
                      data: { creator_list_id: 'creator-list'} %>
    </div>
  </div>

  <div class="form-group radio">
    <h3>Embargo</h3>
        <p class="note">You may request an optional embargo for one or two years.</p>
      <ul>
          <li>
              <%= form.radio_button(:embargo, "1year") %>
              <%= form.label(:embargo_1year, "1 year") %>
          </li>
          <li>
              <%= form.radio_button(:embargo, "2years") %>
              <%= form.label(:embargo_2years, "2 years") %>
          </li>
      </ul>
  </div>

  <div class="form-group checkbox">
    <h3>Is this your original work?</h3>
      <p class="note">Please note that by signing our Author Agreement you have agreed to only upload your own work. If you need to make a deposit on behalf of someone else, please contact Academic Commons staff at ac@columbia.edu.</p>
    <%= form.check_box :yesoriginal %>
    <%= form.label :yesoriginal, 'Yes' %><br />
  </div>

  <div class="form-group radio">
    <h3>Have you previously published this work?</h3>
      <ul>
          <li>
              <%= form.radio_button :previouspub, "open" %>
              <%= form.label :previouspub_open, 'Yes; I published this open access' %>
          </li>
          <li>
              <%= form.radio_button :previouspub, "closed" %>
              <%= form.label :previouspub_closed, 'Yes; I published this non-open access' %>
          </li>
          <li>
              <%= form.radio_button :previouspub, "no" %>
              <%= form.label :previouspub_no, 'No' %> 
          </li>
      </ul>
  </div>

  <div class="form-group radio">
    <h3>If you are uploading an article, please indicate the version of the article you are uploading.</h3>
      <p class="note">Learn more about different versions of articles <%= link_to "here", "https://libfaq.nus.edu.sg/faq/257412", target: "_blank" %>.</p>
      <ul>
          <li>
              <%= form.radio_button :version, "preprint" %>
              <%= form.label :version_preprint, 'Author’s original/Preprint' %>         
          </li>
          <li>
              <%= form.radio_button :version, "accepted" %>
              <%= form.label :version_accepted, 'Accepted manuscript/Postprint' %>         
          </li>          
          <li>
              <%= form.radio_button :version, "final" %>
              <%= form.label :version_final, 'Final published version' %>         
          </li>
      </ul>
  </div>

  <div class="form-group">
    <%= form.label(:notes, 'Notes', class: 'control-label') %>
    <%= form.text_area(:notes, placeholder: 'Additional information you want included in the record (such as suggested keywords) and/or notes for repository staff') %>
  </div>

  <div class="form-group checkbox">
    <h3>Licensing</h3>
      <p class="note">Please confirm how you wish others to re-use your deposit. For more general information about how copyright works, see <%= link_to "Columbia University Library's Copyright Advisory Service's Copyright Quick Guide", "https://copyright.columbia.edu/basics/copyright-quick-guide.html", target: "_blank" %>. For specific licensing terms and conditions on re-use of your deposit for each of the options, click on the associated links.<br /><br />
      You can choose not to set any specific licensing terms and conditions and if so; if so, domestic and international copyright laws alone will determine the ways in which your work can be used and distributed. Generally, copyright laws prevent further reuse and distribution of a work without the explicit permission of the copyright holder. If you choose not to set specific licensing terms for re-use, then you must choose the option "All Rights Reserved.”<br /><br />
      Learn more about the Creative Commons licenses <%= link_to "here", "https://creativecommons.org/licenses/", target: "_blank" %> and more about the MIT license <%= link_to "here", "https://opensource.org/licenses/MIT", target: "_blank" %>.</p>
      <ul style="list-style-type:none;">
          <li>
              <%= form.radio_button :license, "ccby" %>
              <%= form.label :license_ccby, 'CC BY 4.0' %>         
          </li>
           <li>
              <%= form.radio_button :license, "ccbysa" %>
              <%= form.label :license_ccbysa, 'CC BY-SA 4.0' %>         
          </li>     
            <li>
              <%= form.radio_button :license, "ccbynd" %>
              <%= form.label :license_ccbynd, 'CC BY-ND 4.0' %>         
          </li>    
            <li>
              <%= form.radio_button :license, "ccbync" %>
              <%= form.label :license_ccbync, 'CC BY-NC 4.0' %>         
          </li>
              <li>
              <%= form.radio_button :license, "ccbyncsa" %>
              <%= form.label :license_ccbyncsa, 'CC BY-NC-SA 4.0' %>         
          </li>
          <li>
              <%= form.radio_button :license, "ccbyncnd" %>
              <%= form.label :license_ccbyncnd, 'CC BY-NC-ND 4.0' %>         
          </li>
          <li>
              <%= form.radio_button :license, "mit" %>
              <%= form.label :license_mit, 'MIT License (for software)' %>         
          </li>
          <li>
              <%= form.radio_button :license, "allrightsreserved" %>
              <%= form.label :license_allrightsreserved, 'All rights reserved - Use by others as provided for by copyright laws' %>         
          </li>    
      </ul>
  </div>

 <!-- <div class="form-group">
    <!-- %= form.label(:rights, 'Copyright Status*', class: 'control-label') %>
    <p class="note">
      Please confirm whether your deposit is copyright protected. If you are choosing to designate your work as public domain (i.e., having no copyright), you confirm that you have the full authority to do so. For more information about copyright protection, please consult
      <!-- %= link_to "Columbia University Library’s Copyright Advisory Service’s Copyright Quick Guide", 'https://copyright.columbia.edu/basics/copyright-quick-guide.html' %>.
    </p>
    <!-- %= form.select(:rights, Deposit::RIGHTS_OPTIONS, prompt: 'Choose copyright status of this work') %>
  </div> -->

  <%# div for license information populated via javascript %>
  <div id="use-by-others" class="item"></div>

  <div class="form-group" id="file-upload">
    <div><%= form.label(:files, 'Upload File(s)*', class: 'control-label') %></div>
      <p class="alert alert-info">This form accepts files up to 100MB in size. If you have larger files, email <%= mail_to "ac@columbia.edu" %>.</p>

    <div><%= form.file_field :files, multiple: true, direct_upload: true %></div>

    <div action='/' id="deposit-drop" class="dropzone"></div>
  </div>

  <div id='file-preview'>
    <div id="preview-template">
      <div>
        <span class="name" data-dz-name></span>
        (<span class="size" data-dz-size></span>)
        <span class="dz-waiting-mark"><i class="fas fa-sync-alt" aria-hidden></i></span>
        <span class="dz-success-mark"><i class="fas fa-check-circle" aria-hidden></i></span>
        <span class="dz-error-mark"><i class="fas fa-exclamation-circle" aria-hidden></i></span>
        <strong class="error text-danger" data-dz-errormessage></strong>
      </div>
    </div>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
